<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script defer src="./script.js"></script>
</head>
<body>
    <div id="app">
        <div id="C3-13">
            <div v-on:click.right.prevent="rightMouseClickHandler" v-bind:style="{ border: border }">right click here</div>
            <button v-on:click.shift="shiftClickHandler">shift click here</button>
        </div>
        <div id="C3-14">
            <input v-model="value">
            <p>ただいまの入力値は`{{ value }}`です</p>
            <textarea v-model="value"></textarea>
            <input type="checkbox" v-model="isCheck" @change="checkboxChangeHandler">
            <p>ただいまのチェック状態は`{{ isCheck }}`です</p>
            <div>複数のチェックボックス
                <input type="checkbox" v-model="checkList" value="A">
                <input type="checkbox" v-model="checkList" value="B">
                <input type="checkbox" v-model="checkList" value="C">
                <p>ただいまのチェック状態は`{{ checkList }}`です</p>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</body>
</html>